@{
    ViewData["Title"] = "Совсем не Private page";
}
<h1>@ViewData["Title"]</h1>

<p>Эта страница украденна из шаблона:(</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Felis_silvestris_silvestris.jpg" />